.navbar-wrapper {
  position: relative;
  z-index: 15;
}

.middle-part {
  display: flex;
}

.mid-padding {
  margin: 20px 20px;
}

.mid-padding-2 {
  margin: 20px 125px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.footer {
  padding: 30px;
}

.text-size-big {
  font-size: 30px;
}

.text-size-sm {
  font-size: 20px;
}
