@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Public+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&family=Nova+Square&display=swap');

*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

a{
    text-decoration: none;
}

h2{
    font-family: 'Nova Square', sans-serif;
    font-size: 40px;
}

p{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header-tabs{
    font-family: 'Nova Square', sans-serif;
    display: flex;
    gap: 12px;
    font-weight: bolder;
}

.header-tabs a{
    border-bottom: 4px solid white;
    padding-bottom: 3px;
}

.header-tabs a:hover{
    border-bottom: 4px solid limegreen;
    padding-bottom: 3px;
}

/* .menu-icon{

} */

.button-ri { 
    height: 20px;
    width: 115px;
    padding: 7px;
    border-radius: 30px;
    background-image: linear-gradient(to right, limegreen, cyan);
}

.button-ri a{
    color: white;
}

.button-ri:hover{
    cursor: pointer;
}

.sectionOne{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: wheat;
    min-height: 300px;
}

.partOne1{
    margin: auto;
    padding: 60px;
}

.button-ri-2 {
    height: 20px;
    width: 115px;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    background-image: linear-gradient(to right, limegreen, cyan);
}

.partOne2{
    background-image: url('../images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fourGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.sectionTwo{
    background-color: blueviolet;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.center{
    text-align: left;
}

.img-box-1{
    margin-right: 10px;
    padding: 15px;
}


.sectionThree{
    height: 33rem;
    background-color: aqua;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.img-box{
    background-color: aliceblue;
    margin-right: 10px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

.img-box img{
    height: 200px;
    width: 276px;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

.para{
    padding: 20px;
}

.footer{
    background-color: rgb(47, 47, 97);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.icon-collection img{
    margin-right: 5px;
}

.icon-collection img:hover{
    cursor: pointer;
}

.footer-menu a{
    color: white;
}

.footer-menu a:hover{
    color: limegreen;
}

.button-ri-3{
    height: 20px;
    width: 115px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    background-image: linear-gradient(to right, limegreen, cyan);
}

.footer-button{
    text-align: right;
}

.pointer{
    cursor: pointer;
    color: black;
}

.pointer:hover{
    color: limegreen;
}

@media (min-width: 800px) {
    .menu-icon{
        display: none;
    }
    .header-menu{
        display: none;
    }
}

@media (max-width: 800px) {
    .header-tabs{
        display: none;
    }
    #myLinks{
        display: none;
    }
    .header-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-family: 'Nova Square', sans-serif;
        font-weight: bolder;
        background-color: rgb(102, 90, 90);
        padding: 10px 0px;
    }
    .header-menu a{
        width: 100%;
        text-align: center;
        padding-bottom: 3px;
        color: limegreen;
    }
    
    .header-menu a:hover{
        background-color: white;
        padding-bottom: 3px;
    }
}

@media (max-width: 600px) {
    .button-ri{
        display: none;
    }
}